<h2>Welcome to our Awesome Devise Learning Page!</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur veritatis illo non repudiandae incidunt deleniti temporibus itaque et expedita ipsum aperiam, dolore officiis, ad ex voluptatibus corrupti pariatur necessitatibus quasi!</p>
